TEST

SHOW UPDATED COST BASED ON THEIR SHIPPING CHOICE

<div class="row">
  <div class="col-md-offset-11">
    <%= link_to "Payment Details", edit_order_path(current_order.id), class: "btn btn-primary" %>
  </div>
</div>
